:root {
	--lightblue:rgb(32,71,86);
	--darkblue:rgb(20,33,46);
	--purple:rgb(57,41,66);
	--grey:rgb(168,167,161);
	--maroon:rgb(80,12,31);
}

html *{
	color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    background-color: var(--darkblue)
}



.navbar .navbar-collapse {
    text-align: center;
    background-color: var(--darkblue)
}


.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.selected {
	background-color: var(--lightblue);
}

